.card-img {
    height: 25vh;
}

#count-prod {
    background-color: black;
    margin: 10px;
    padding: 20px;
    columns: 4;
    column-gap: 1vh;
}

.card {
    background-color: rgb(174, 191, 204);
    
    height: 45vh;
    width: 24vh;
    padding-top: 1vh;
    text-align: center;
    margin-bottom: 1.5vh;
}

.card-txt {
    font-size: 1.8vh;
    line-height: 1vh;
}

button {
    font-size: 1.8vh;
    height: 3vh;
    width: 10vh;
}